{% extends 'headland/base.html' %}

{% load i18n %}

{% block title %}
  {% trans "LogIn | HeadLand" %}
{% endblock %}

{% block content %}
  <form action="{% url "users:auth_login" %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{% url "home" %}" />

    <div class="form-group">
      <label for="login">{% trans "Username" %}</label>
      <input type="text" class="form-control" id="login" value="" name="username" />
    </div>

    <div class="form-group">
      <label for="password">{% trans "Password" %}</label>
      <input type="password" class="form-control" id="password" value="" name="password" />
    </div>

    <button type="submit" class="btn btn-default">{% trans "Login" %}</button>

  </form>
{% endblock %}