{% extends 'headland/base.html' %}

{% block title %}
  Dmytriv | Blog
{% endblock %}

{% block nav-item-left %}>
  <li><a href="{% url 'post_list' %}">Blog</a></li>
  <li><a href="{% url 'contact' %}">Contact</a></li>
  <li><a href="#">Ideas</a></li>
  <!-- <li><a data-ct-checkout="">Donate</a></li> -->
{% endblock %}

{% block content %}
  <h3>The HeadLand Blog</h3>
  <hr>

  {% if user.is_superuser %}
    <div class="col-md-9">
      <a href="{% url 'post_new' %}" class="btn btn-default">New post</a>
  </div> </br></br></br>
  {% endif %}

  {% for post in posts %}
    <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading"> 
            <a href="{% url 'post_detail' pk=post.pk %}" class="panel-title">{{ post.title }}</a>
            <span class="label label-default label-as-badge pull-right">{{ post.published_date }}</span>
          </div>
          <div class="panel-body">
            <p>{{ post.text | safe | linebreaks | truncatechars:500 }}</p>
          </div>
        </div>
    </div>
  {% endfor %}
{% endblock %}